<header class="header">
    <h6 class="heading-senary">Elton Ribeiro</h6> 
    <nav class="nav">
        <ul class="nav__menu">
            <li class="nav__item"><a href="/home" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="/portfolio" class="nav__link">Portfolio</a></li>
            <li class="nav__item"><a href="/resources" class="nav__link">Resources</a></li>
            <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
        </ul>
    </nav>
</header>