<%- include('partials/head');  %> 

<body>
    <%- include("partials/header") %> 
    <section class="section-call-to-action">
        <h1 class="heading-primary">
            Programming is just technological poetry!
        </h1>
    </section>
</body>
</html>