<%- include('partials/head');  %> 

<body>
    <%- include("partials/header") %> 
    <section class="section-call-to-action">
        <h1 class="heading-primary">
            Hi! My name's Elton and I'm a <span class="highlight">Front-End developer</span>
        </h1>
        <h2 class="heading-secondary mb-sm">
            {
            Programming is just<span class="highlight"> technological poetry </span>, and I'm the right poet for you
            }
        </h2>
        <div class="button-box">
            <a href="/portfolio" class="btn btn--dark">See My Portfolio</a>
            <a href="/about" class="btn btn--white">Learn More About Me</a>
        </div>
    </section>
</body>
</html>