<%- include('partials/head');  %> 

<body>
    <%- include("partials/header") %> 
    <section class="section-call-to-action">
        <h1 class="heading-primary">
            Hi! My name's Elton and I'm a <span class="highlight">Front-End developer</span>
        </h1>
        <h2 class="heading-secondary mb-sm">
            {
            Programming is just<span class="highlight"> technological poetry </span>, and I'm the right poet for you
            }
        </h2>
        <div class="button-box">
            <a href="/portfolio" class="btn btn--dark">See My Portfolio</a>
            <a href="/about" class="btn btn--white">Learn More About Me</a>
        </div>
    </section>

    <section class="section-philosophy">
        <h2 class="heading-secondary mb-sm">
            My Philosophy
        </h2>
        <div class="philosophy">
            <div class="text">
            <p class="paragraph">
                Programming is just technological poetry. That's a big statement for me as a person who grew up writing poems and found
                himself in the tech world. Different things, right? No, not necessarily.
            </p>
            <p class="paragraph">
                Poetry is the art of putting together words in a constrained, cohesive way, is the art of painting thought with words.
                Front-End development is not so different from it, we paint images and try our best to find the right words(semantic
                code) and right order for said words(syntax).
            </p>
            <p class="paragraph">
                With 1 year of experience, courses and now college, I'm interested in 
                making people's lifes easier by developing solutions and participating
                in projects that make a difference.   
            </p>
            <p class="paragraph">
                That said, I'm more than in love with the technology, 
                and I'm more than interested in making your website/service/app come to life. 
                So if you want me to be your poet, I'm at your service!
            </p>
            </div>
            <div class="img-box">
                <img src="images/philosophy.jpg" alt="">
            </div>
        </div>
    </section>

    <script src="scripts/app.js"></script>
    </body>
</html>
