@use "../utils/variables" as variables;

@font-face {
  font-family: "Nafta";
  src: url("../../../fonts/NaftaLight-Regular.woff2") format("woff2"),
    url("../../../fonts/NaftaLight-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ramona";
  src: url("../../../fonts/Ramona-Bold.woff2") format("woff2"),
    url("../../../fonts/Ramona-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ramona";
  src: url("../../../fonts/Ramona-Light.woff2") format("woff2"),
    url("../../../fonts/Ramona-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
}

.paragraph {
  font-size: 2rem;
  letter-spacing: 1px;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.highlight {
  font-weight: bold;
  color: variables.$color-secondary;
}

.heading-primary {
  font-family: "Ramona", serif;
  font-weight: bold;
  font-size: 4rem;
}
.heading-secondary {
  font-family: "Ramona", serif;
  font-weight: 300;
  font-size: 2.5rem;
}
.heading-senary {
  font-family: "Ramona", serif;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a:link,
a:visited {
  font-family: "Ramona";
  text-decoration: none;
}
a:hover {
  color: variables.$color-tertiary;
}
