@use "../utils/_variables" as variables;
@use "../utils/mixins" as mixins;

.header{
    width: 100%;
    padding: 3rem 10rem;
    background-color: variables.$color-primary;
    color: variables.$color-secondary;

    // display:
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

	@include mixins.for-phone-only {
		padding: 2rem 4rem;
		align-items: center;
	}
}
