@use "../utils/variables" as variables;
@use "../utils/mixins" as mixins;

.btn {
  padding: 1rem 2rem;
  border-radius: 0.3em;
  font-weight: bold;
  transition: all .5s;
}

.btn--menu {
    padding: 0;
    background: none;
    border: none;
    .btn__open{
        z-index: 3;
        &::after{
        content: url(../../../images/icons/menu-48.png);
        display: block;
        z-index: 5;
        }
    }
    .btn__close {
        z-index: 3;
        &::after{
        content: url(../../../images/icons/close-48.png);
        display: block;
        z-index: 5;
        }
    }
}

.btn--dark {
  background-color: variables.$color-primary;
  color: variables.$color-white;
}
.btn--white {
  background-color: variables.$color-white;
  color: variables.$color-primary;
}
